body {
  font-family: 'News Cycle', 'Arial', Arial, sans-serif;
  margin: 0 0 0 0;
  background-color: #bcbcbc; }

a {
  text-decoration: none; }

.navbar {
  height: 65px;
  background-color: #2d363b;
  width: 100%;
  margin-top: -15px; }
  .navbar div {
    display: inline; }
  .navbar img {
    max-width: 150px;
    max-height: 35px;
    display: inline; }
  .navbar__navText {
    height: 100%;
    display: inline;
    list-style: none;
    color: #f4f4f4;
    padding: 0 15px;
    margin: 20px 0;
    font-size: 12px;
    border-right: 1px solid #4f5a62; }
    .navbar__navText--balance {
      display: inline;
      border: none;
      text-align: right;
      font-size: 12px;
      margin-top: 15px;
      text-decoration: none;
      color: #f4f4f4;
      font-weight: bold;
      padding: 0 10px; }
  .navbar .active {
    background-color: red !important;
    height: 100%;
    width: 100%; }
  .navbar .left {
    float: left; }
  .navbar .right {
    float: right; }
  .navbar button {
    background-color: #70aa3d;
    border-radius: 3px;
    color: white;
    padding: 5px;
    border: none; }

.content {
  width: 95%;
  height: 835px;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 2fr 1fr; }
  .content .card {
    background-color: white;
    margin: 15px 20px;
    border-radius: 10px; }
    .content .card__title {
      background-color: black;
      color: white;
      text-transform: uppercase;
      height: 35px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      padding-top: 5px; }
    .content .card__labels {
      display: grid;
      grid-template-columns: 25% 25% auto;
      border-bottom: 1px solid lightgray;
      font-size: 12px;
      padding: 15px; }
      .content .card__labels--active {
        color: #a5c18e; }
      .content .card__labels--inactive {
        color: black;
        text-decoration: none; }
  .content .current-game {
    height: 100%; }
    .content .current-game__details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0px; }
  .content .right {
    text-align: right; }
  .content #play-by-play {
    height: 400px;
    overflow: scroll;
    border-radius: 0px; }
  .content #stats {
    height: 400px;
    margin-left: 10px;
    float: left; }
  .content #your-scoring {
    height: 100%;
    float: right; }

.scoreboard {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  padding: 20px 0px;
  height: 70px; }

.teamInfo {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding-top: 25px; }
  .teamInfo__teamName {
    text-transform: uppercase;
    line-height: 22px;
    font-size: 22px; }
  .teamInfo__teamScore {
    font-size: 64px;
    font-weight: 800;
    margin-top: -25px; }
  .teamInfo__teamName--team1 {
    color: #fdbb00; }
  .teamInfo__teamScore--team1 {
    color: #fdbb00; }
  .teamInfo__teamName--team2 {
    color: #0079c5; }
  .teamInfo__teamScore--team2 {
    color: #0079c5; }

.gameInfo {
  font-family: Arial;
  font-size: 16px;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  padding: 0px 30px;
  line-height: 0px;
  text-align: center;
  margin-top: 20px;
  height: 60px; }
  .gameInfo__time {
    font-weight: bold;
    margin-bottom: 20px; }
  .gameInfo__place {
    font-weight: 100;
    font-size: 12px;
    color: #7e7e7e; }

.lastPlay {
  background-color: lightgray;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #7e7e7e; }

.dataChart form {
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px; }
  .dataChart form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* remove default arrow */
    border: none;
    background: url(https://png.icons8.com/ios-glyphs/15/expand-arrow.png) right no-repeat;
    font-weight: bold;
    padding-right: 20px; }

.shotChart {
  display: grid;
  grid-template-columns: 25% auto 25%;
  text-align: center;
  color: #8080b8; }
  .shotChart img {
    width: 100%;
    padding-bottom: 20px; }
  .shotChart .teamBreakdown {
    font-size: 18px;
    line-height: 10px;
    font-weight: 800; }
    .shotChart .teamBreakdown__stat-value--team1 {
      color: #fdbb00; }
    .shotChart .teamBreakdown__stat-value--team2 {
      color: #0079c5; }
    .shotChart .teamBreakdown hr {
      width: 50%;
      color: #ff0095;
      align: center;
      margin: 0 auto; }

.player-card {
  width: 100%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 75px auto 95px;
  border-bottom: 1px solid lightgray; }
  .player-card__play-text--moment {
    color: #7e7e7e;
    font-size: 10px; }
  .player-card__play-text--description {
    color: black;
    font-size: 12px;
    margin-top: -5px; }
  .player-card__updated-score {
    color: black;
    font-size: 12px;
    text-align: center;
    margin-top: 20px; }

.score-ticker {
  width: 100%;
  height: 110px;
  background-color: #2d363b;
  position: fixed;
  bottom: 0px;
  left: 0px; }
  .score-ticker__sport-tabs {
    height: 30px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-auto-columns: 150px;
    list-style: none;
    margin-left: 20px; }
    .score-ticker__sport-tabs--active {
      background-color: #70aa3d;
      color: white;
      padding-left: 10px; }
    .score-ticker__sport-tabs--inactive {
      margin-left: 15px;
      padding-left: 10px;
      color: lightgray;
      border-right: 1px solid lightgray; }
  .score-ticker .games {
    display: grid;
    grid-template-columns: 20px 550px 100px 100px auto;
    background-color: #4f5961; }
    .score-ticker .games__game {
      height: 90px;
      display: grid;
      background-color: #4f5961;
      border-right: 1px solid lightgray;
      color: lightgray;
      grid-template-columns: 5fr 1fr;
      grid-template-rows: 15px 15px 15px;
      text-align: center; }
      .score-ticker .games__game--open {
        display: grid;
        grid-template-columns: 150px 200px 200px;
        background-color: #616a71;
        color: white; }
      .score-ticker .games__game-score--team {
        display: grid;
        grid-template-columns: 2fr 1fr;
        text-transform: uppercase;
        margin-bottom: -5px; }
      .score-ticker .games__game--detail {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-top: 5px; }
      .score-ticker .games__game--player-detail {
        color: white;
        margin-top: -2px;
        line-height: 0px;
        text-align: left; }
    .score-ticker .games .small {
      font-size: .7em;
      text-align: left; }
    .score-ticker .games .scroll-games {
      width: 15px;
      padding-top: 20px;
      padding-left: 4px;
      color: lightgray; }
