$background: rgb(188,188,188);
$navbar-color: rgb(45,54,59);
$warriors: rgb(253,187,0);
$thunder: rgb(0,121,197);
$descText: rgb(126,126,126);
$navText: rgb(244,244,244);
$hoverBackground: rgb(79,90,98);
$statText: rgb(128,128,184);
$footer-background: rbg(97, 106, 113);
$addFunds: rgb(112, 170, 61);
$cardBackground: rgb(255,255,255);